.dashboard{
    display: flex;
    background: var(--DefaultGrad);
    margin-top: 6%;
    margin-bottom: 1%;
    padding-top: 20px;
    overflow-y: scroll;
    overflow-x:visible;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    width: 95%;
    height: 85%;
    border-radius: var(--DefaultBR);
}