
.databox{
    box-sizing: border-box;
    background-color: white;
    width: 18%;
    height: 20%;
    margin: 0 1% 1% 1%;
    padding: 0;
    border-radius: var(--DefaultBR);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.head{
    width: 100%;
    height: 20%;
    margin-bottom: 5%;
    background-color: var(--LightCyan);
    display: flex;
    align-items: center;
    border-top-left-radius: var(--DefaultBR);
    border-top-right-radius: var(--DefaultBR);
}
.mark{
    width: 20%;
    height: 100%;
    background-color: var(--PacificCyan);
    border-top-left-radius: var(--DefaultBR);
    border-bottom-right-radius: var(--DefaultBR);
}

