
.databox{
    background-color: white;
    width: 18%;
    height: 20%;
    margin: 0 1% 1% 1%;
    padding: 1%;
    border-radius: var(--DefaultBR);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

