.sidebar{
    width: 18vw;
    height: 100vh;
    background: linear-gradient(to bottom left, #003552, #58C4FF);

}

.favorite{
    width: 90%;
    height: 5%;
    background-color: #FFFFFF;
    box-shadow: #003552 2px;
}