.sidebar{
    padding-top: 10px;
    width: 18vw;
    height: 100vh;
    display: inline-flex;
    flex-direction: column;
    float: left;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    background: linear-gradient(to bottom right, #003552, #58C4FF);

}