.dataView{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom left, #003552ac, #58c5ffb8);


}
.dataBody{
    width: 80%;
    height: 80%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom right, #003552, #58C4FF);
    border-radius: 10px;
    box-shadow: 0 0 10px 5px #000;
    overflow-y: scroll;
    overflow-x: hidden;
}
.closer{
    position: absolute;
    top: 2vh;
    left: 2vw;
    padding: 1vh 1vw;
    border-radius: var(--DefaultBR);
    background: var(--DefaultGrad);
    font-size: 2em;
    cursor: pointer;
}